<h1>Rooms</h1>

<audio autoplay>
  <source src="<%= asset_path('JingleBells.mp3') %>">
</audio>

<table>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.description %></td>
        <td><%= City.find(room.city_id).name %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
