<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<p>Members: <%= @room.room_memberships.count %>

<%= form_with model: [@room, @message] do |form|  %>
    <div>
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <div>
        <%= form.submit%>
    </div>

<% end %>

<% if @room.room_memberships.find_by(user: current_user, role: :owner).present? %>
    <p>Вы владелец румы</p> 
<% elsif @room.room_memberships.find_by(user_id: current_user, role: :member).present? %>
    <%= button_to "Unfollow", room_follow_path(@room, 2), method: :delete %>
<% else %>
    <%= button_to 'Follow', room_follows_path(@room) %>
<% end %>




<% @messages.each do |message| %>
    <div>
        <%= message.content %>
    </div>
    <div>
        <p>By: </p>
        <%= message.user.email %>
        <hr>
    </div>
<% end %>
