<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<%= form_with model: [@room, @message] do |form|  %>
    <audio autoplay>
        <source src="<%= asset_path('JingleBells.mp3') %>">
    </audio>
    <div>
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <div>
        <%= form.submit%>
    </div>

<% end %>

<% if RoomMembership.find_by(user_id: current_user.id).present? && RoomMembership.find_by(user_id: current_user.id).role == 'owner'%>
    <p>Вы владелец румы</p> 
<% elsif RoomMembership.find_by(user_id: current_user.id).present? && RoomMembership.find_by(user_id: current_user.id).role == 'member'%>
    <%= button_to "Unfollow", room_path(@room),
  class: "btn btn-primary" %>
<% else %>
    <%= link_to 'Follow', room_path(@room) %>
<% end %>


<% @messages.each do |message| %>
    <div>
        <%= message.content %>
    </div>
    <div>
        <p>By: </p>
        <%= message.user.email %>
        <hr>
    </div>
<% end %>
